* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none;}
ul {list-style-type: none;}

/* header styles */

header {
    background-color: #f0f0f0;
    color: gray;
    text-align: center;
    padding: 20px;
}

header>* {
    padding: 10px;
    text-transform: capitalize;
}

header>p {
    margin-bottom: 10px;
}

.mega-menu {
    background-color: rgb(182, 182, 182);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mega-menu>ul {
    display: flex;
    padding: 20px;justify-content: center;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.mega-menu>ul>li a {
    padding: 20px;
    color: #141414;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.mega-menu:hover {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mega-menu>ul>li ::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    border: 1px solid darkred;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.mega-menu>ul>li>a:hover::before {
    width: 10%;
    bottom: 5px;
}

.mega-menu>ul>li>a:hover {justify-content: center;
    color: #ffffff96;
}


.mega-menu>div>button{
    margin-top: 15px;
    background: none;
    border: none;
    position: relative;
    overflow: hidden;
    font-size: 23px;
}

.mega-menu>div>button::after{
    content: "favorite post";
    background-color: #000;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.mega-menu>div>button:hover::after{
    bottom: 0;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* container home page styles */

.container {margin: 20px;}

/* grouping collection */

.container .container-collection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container>.container-collection>figure{position: relative;}

.container>.container-collection>figure>img{width: 100%;}

.container>.container-collection>figure figcaption{
    background-color: #fff;
    color: #000;
    top: 42%;
    left: 38%;
    position: absolute;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
}

.container>.container-collection>figure>figcaption::before{
    content: '';
    border: 5px solid #b14545;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;left: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    overflow: hidden;
}
.container>.container-collection>figure>figcaption::after{
    content: '';
    border: 5px solid #b14545;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;left: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    overflow: hidden;
}

.container>section>figure:hover ::before{height: 150%;}
.container>section>figure:hover ::after{width: 150%;}

/* womans suggetion */

.container-sugg{
    display: flex;
    justify-content: space-between ;
    position: relative;
}

.container-sugg>div figure {
    position: relative;
    overflow: hidden;
    width: 300px;
}

.container-sugg>div figure::before{
    content: 'style';
    background-color: #0000004f;
    width: 0;
    position: absolute;
    top: 0;left: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    overflow: hidden;
}

.container-sugg>div>figure:hover::before{
    height: 100%;
    width: 100%;
}

.container-sugg>div>figure img{
    width: 400px;
    height: 620px;
    object-fit: cover;
    object-position: right;
}

.container-sugg>div>figure>figcaption{
    color: #000;
    top: 42%;
    left: 38%;
    position: absolute;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.sugg-head{
    padding: 20px;
    position: absolute;
    top: 5px;left: 45%;
    z-index: 7;
    text-transform: capitalize;
    font-size: 25px;
}

.sugg-head :first-of-type{
    border-bottom: 2px solid black;
}

.sugg-head :first-child ~ *{
    color: #00000070;
}

.sugg-head *{
    padding: 10px;
}

.sugg-pro{
    margin: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sugg-pro *{
    padding: 5px;
}

.sugg-pro>article>figure{
    position: relative;
    overflow: hidden;
    transition: .4s;
}

.sugg-pro>article>figure :nth-last-of-type(3){
    position: absolute;
    top: 5%;left: 78%;
    opacity: 0;
}

.sugg-pro>article>figure:hover :nth-last-of-type(3){
    opacity: 100%;
}

.sugg-pro>article>figure>a{
    transition: .6s;
    color: black;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.sugg-pro>article>figure :nth-last-of-type(2),
.sugg-pro>article>figure :nth-of-type(3){
    background-color: #b14545;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: absolute;
}

.sugg-pro>article>figure :nth-of-type(3){
    left: 40%;top: 120%;
    opacity: 0;
}

.sugg-pro>article>figure:hover :nth-of-type(3){
    top: 66%;
    color: white;
    opacity: 100%;
}

.sugg-pro>article>figure :nth-last-of-type(2){
    left: 5%;top: -5%;
    opacity: 0;
}

.sugg-pro>article>figure:hover :nth-last-of-type(2){
    top: 3.5%;
    color: white;
    opacity: 100%;
}

.sugg-pro>article>figure>figcaption h4{
    font-weight: lighter;
    text-transform: capitalize;
}

.sugg-pro>article>figure>figcaption p{
    color: #b14545;
}

.sugg-head-men{
    padding: 20px;
    position: absolute;
    top: 5px;left: 26%;
    z-index: 7;
    text-transform: capitalize;
    font-size: 25px;
}

.sugg-head-men :first-of-type{
    border-bottom: 2px solid black;
}

.sugg-head-men :first-child ~ *{
    color: #00000070;
}

.sugg-head-men *{
    padding: 10px;
}

/* middle banner style */

.banner-middle>figure{
    width: 100%;
    position: relative;
}

.banner-middle>figure img{
    width: 100%;
}

.banner-middle>figure>figcaption{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
}

.banner-middle>figure>figcaption h5{
    color: #b14545;
    padding-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
}

/* footer Design */
